@import 'init';

/******************************************************
* LAYOUT.SCSS
*	Main site layout styles go in this file.
*	Iclude styles for the site header and footer,
*	main body and sidebars, etc.
*	All styles for components/sections that are used
*	site wide.
\******************************************************/

body {
    padding-top:5em;
    padding-bottom:5em;
}

#site-footer {
    padding-top:3em;
}

.login-logo img {
    width: 96px;
    height: 96px;
}

.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-login .icon {
    width: 64px;
    height: 64px;
}

.form-login .form-login-heading {
    margin-bottom: 10px;
    text-align: center;
}

.form-login .checkbox {
    font-weight: normal;
}

.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-login .icon-size {
    font-size: 96px;
}

.navbar-login-session a .fa {
    margin-right: 0.5em;
}
